<ion-view view-title="Settings">
    <ion-content class="padding">
        <div class="settings-wrapper">
            <h1>Settings</h1>
            <div class="card">
                <div class="item item-text-wrap">
                    <p class="intro-text">
                        Clear local storage - admin pass required
                    </p>
                </div>
            </div>

            <button class="button button-large button-assertive"
                    ng-click="showLocalStoragePopUp()">
                Clear Local Storage
            </button>

        </div>
    </ion-content>
</ion-view>
