.dashboard-wrapper {
  @include centerFlexColumn;

  .new-game-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 410px;

    .new-game-list {

      .button {
        &.button-positive {
          width: 100%;
        }
      }
    }
  }
}