<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="dashboard-wrapper">
            <h1>Welcome to The Connected Darts App!</h1>
            <div class="card">
                <div class="item item-text-wrap">
                    <p class="intro-text">
                        Start a new game by selecting number of players, number of throws per round and the score limit
                        to win the game.
                    </p>
                </div>
            </div>

            <div class="new-game-wrapper">

                <button class="button button-large button-positive"
                        ion-ripple
                        ng-if="!showGameSelectionList"
                        ng-click="newGameSelectionClick()">
                    New game
                </button>

                <div class="new-game-list" ng-if="showGameSelectionList">
                    <div class="list">
                        <label class="item item-input item-select">
                    <span class="input-label">
                        Number of players
                    </span>
                            <select ng-model="newGame.selectedNumberOfPlayers"
                                    ng-options="x.value for x in numberOfPlayersArray"
                                    ng-init="newGame.selectedNumberOfPlayers = numberOfPlayersArray[1]">
                            </select>
                        </label>

                        <label class="item item-input item-select">
                    <span class="input-label">
                        Game score limit
                    </span>
                            <select ng-model="newGame.selectedGameScoreLimit"
                                    ng-options="x.value for x in gameScoreLimitArray"
                                    ng-init="newGame.selectedGameScoreLimit = gameScoreLimitArray[1]">
                            </select>
                        </label>

                        <label class="item item-input item-select">
                    <span class="input-label">
                        Number of throws per turn
                    </span>
                            <select ng-model="newGame.selectedNumberOfThrows"
                                    ng-options="x.value for x in throwsPerTurnArray"
                                    ng-init="newGame.selectedNumberOfThrows = throwsPerTurnArray[1]">
                            </select>
                        </label>

                    </div>

                    <button class="button button-large button-positive"
                            ion-ripple
                            ng-click="startNewGameClick()">
                        Start game!
                    </button>

                    Number of players selected: {{newGame.selectedNumberOfPlayers}} <br>
                    Game Score Limit selected: {{newGame.selectedGameScoreLimit}} <br>
                    Selected Number Of Throws: {{newGame.selectedNumberOfThrows}}
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>
