.board-internal-wrapper {
  display: flex;
  justify-content: space-around; }
  .board-internal-wrapper .board-wrapper {
    position: relative;
    width: 100%;
    max-width: 662px;
    height: 662px;
    border: 1px dashed red;
    background-image: url("../../www/images/dart-board.jpg");
    background-repeat: no-repeat;
    background-size: contain; }
    .board-internal-wrapper .board-wrapper .item-buttons-wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 295px;
      align-items: center; }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper .item-button {
        width: 100%;
        height: 100%;
        max-height: 25px;
        max-width: 90px;
        background-color: transparent;
        z-index: 1; }
        .board-internal-wrapper .board-wrapper .item-buttons-wrapper .item-button.double-two {
          margin-bottom: 10px;
          width: 80px;
          height: 20px; }
        .board-internal-wrapper .board-wrapper .item-buttons-wrapper .item-button.double-one-top {
          max-height: inherit;
          height: 95px;
          max-width: 65px;
          margin-bottom: 5px;
          border-bottom-right-radius: 30%;
          border-bottom-left-radius: 30%; }
        .board-internal-wrapper .board-wrapper .item-buttons-wrapper .item-button.double-three {
          max-width: 50px;
          margin-bottom: 5px; }
        .board-internal-wrapper .board-wrapper .item-buttons-wrapper .item-button.double-one-bottom {
          height: inherit;
          max-height: 110px;
          max-width: 15px;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-color: red; }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-1 {
        top: 48.9%;
        left: 48.5%;
        width: 20px;
        height: 20px; }
        .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-1 .item-button {
          border-radius: 50%;
          background-color: #ff0012;
          border-color: #ff0012;
          margin-bottom: 0;
          z-index: 9;
          text-indent: -9999px; }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-2 {
        top: 46%;
        left: 46%;
        width: 55px;
        height: 55px; }
        .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-2 .item-button {
          border-radius: 50%;
          background-color: #00991d;
          border-color: #00991d;
          margin-bottom: 0;
          z-index: 5;
          max-height: 55px;
          text-indent: -9999px; }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-3 {
        left: 44%;
        top: 13px;
        transform: none; }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-4 {
        left: 52%;
        top: 19px;
        transform: rotate(17deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-5 {
        left: 59%;
        top: 42px;
        transform: rotate(35deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-6 {
        left: 65%;
        top: 84px;
        transform: rotate(55deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-7 {
        left: 69%;
        top: 130px;
        transform: rotate(72deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-8 {
        left: 70%;
        top: 184px;
        transform: rotate(90deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-9 {
        left: 69%;
        top: 237px;
        transform: rotate(107deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-10 {
        left: 65%;
        top: 286px;
        transform: rotate(127deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-11 {
        left: 59%;
        top: 325px;
        transform: rotate(142deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-12 {
        left: 52%;
        top: 352px;
        transform: rotate(163deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-13 {
        left: 43%;
        top: 358px;
        transform: rotate(179deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-14 {
        left: 36%;
        top: 350px;
        transform: rotate(198deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-15 {
        left: 29%;
        top: 322px;
        transform: rotate(217deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-16 {
        left: 23%;
        top: 288px;
        transform: rotate(232deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-17 {
        left: 19%;
        top: 237px;
        transform: rotate(252deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-18 {
        left: 18%;
        top: 184px;
        transform: rotate(270deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-19 {
        left: 19%;
        top: 130px;
        transform: rotate(288deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-20 {
        left: 23%;
        top: 82px;
        transform: rotate(306deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-21 {
        left: 29%;
        top: 43px;
        transform: rotate(325deg); }
      .board-internal-wrapper .board-wrapper .item-buttons-wrapper#item-buttons-22 {
        left: 36%;
        top: 20px;
        transform: rotate(342deg); }
    .board-internal-wrapper .board-wrapper .button.missed {
      position: absolute; }
      .board-internal-wrapper .board-wrapper .button.missed.missed-top {
        top: 10px; }
      .board-internal-wrapper .board-wrapper .button.missed.missed-right {
        right: 10px; }
      .board-internal-wrapper .board-wrapper .button.missed.missed-bottom {
        bottom: 10px; }
      .board-internal-wrapper .board-wrapper .button.missed.missed-left {
        left: 10px; }
  .board-internal-wrapper .score-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10px; }
